/* Basic styling - feel free to customize */
body {
    background-color: #333;
    color: #eee;
    font-family: 'Product Sans', sans-serif; /* Using the imported Google Font */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    /* Style for touch interactions */
    touch-action: manipulation; /* Prevent default touch behaviors */
}

#game-container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

canvas {
    background-color: #000;
    border: 4px solid #eee;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Style the menu */
#menu {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center horizontally */
}

#gameOverMessage {
    font-size: 1.5em;
    color: red;
    margin-top: 20px;
}
